<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AcceptedNumberOfMainResults" value="20" />
    <add key="SnapFolder" value="C:\deploy\web\webly\tests\snaps\" />
    <add key="BaseURL" value="http://localhost:900" />
    <add key="HubURL" value="http://localhost:4444/wd/hub" />

  </appSettings>
</configuration>